# Core
pandas==2.2.2
numpy==1.26.4

# Visualization (EDA)
matplotlib==3.8.4
seaborn==0.13.2

# Scikit-learn for modeling + preprocessing
scikit-learn==1.4.2

# Imbalanced-learn for SMOTE
imbalanced-learn==0.12.2

# Jupyter Notebook (if needed)
notebook==7.2.0
